<!DOCTYPE html> 
<html lang="en"> 
<head> 
 <meta charset="UTF-8"> 
 <title>My Website - About</title> 
</head> 
<body> 
 <h1>Michael Benjamin</h1> 
 <p>As a driven and passionate Computer Science student at the University of the West Indies, I am eager to gain hands-on experience and grow both personally and professionally. With a strong work ethic and a dedication to continual growth, I believe in seizing opportunities to enhance my skills and knowledge. I am committed to contributing positively to any environment I'm part of, fostering growth and success through collaborative efforts.</p> 
</body> 
</html>